.bingkai {
  border            : 7px double orange;
  width             : 200px;
  height            : 250px;
  margin            : auto;
  box-shadow        : 5px 5px 5px red;
}

form {
 border-bottom      : 2px solid orange;   
}

img {
 width              : 200px;
 height             : 250px;  
 float              : left; 
 margin-top         : -10 px;
}

input[type="button"] {
 color              : gold;
 background         : linear-gradient(to top, yellow, blue);
 font-size          : 16px;
 cursor             : pointer;
 transition         : 0.7s;
 width              : 47px; 
}

input[type="button"]:hover {
 transition         : 0.7s;  
 border-radius      : 30px;
 background         : linear-gradient(to top, green, red);
}

input[type="text"] {
 width              : 130px;
 color              : black;
 font-size          : 16px;
}

input[type="reset"] {
 width              : 149px; 
 background         : linear-gradient(to top, orange, red);
}

input[type="reset"]:hover {
 transition         : 0.7s;  
 border-radius      : 30px;
 background         : linear-gradient(to top, yellow, green);    
}

input[type="persentase"]:hover {
 transition         : 0.7s;  
 border-radius      : 30px;
 background         : linear-gradient(to top, yellow, green);    
}

.footer {
 text-align         : center;
 margin-top         : -1px;
}
